

div.button_down
{
text-align:center;vertical-align:center;
display:inline;width:25px;cursor:hand;font-family:宋体;font-size:9pt;background:#cccccc;border-left-style:groove;border-top-style:groove;border-bottom-style:inset;border-right-style:inset;border-width:2px;border-left-color:#99cc00;border-top-color:#99cc00;border-right-color:#ffffff;border-bottom-color:#ffffff;
margin:1px 0px 1px;padding:1px;
}

div.button_up{
text-align:center;vertical-align:center;
display:inline;width:25px;cursor:hand;font-family:宋体;font-size:9pt;background:#99cc00;border-left-style:outset;border-top-style:outset;border-bottom-style:inset;border-right-style:inset;border-width:2px;border-left-color:#ffffff;border-top-color:#ffffff;border-right-color:#99cc00;border-bottom-color:#99cc00;
margin:1px 0px 1px;padding:1px;
}

textArea.textArea{
border-style:none;border-width:1px;width:100%;height:100px;
}