<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>myWeb</display-name>
	

	 
	<filter>
		<filter-name>encodingFilter</filter-name>
		<filter-class>
			com.ngus.myweb.filter.EncodingFilter
		</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>utf-8</param-value>
		</init-param>

	</filter>


	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/postMsg.do</url-pattern>
	</filter-mapping>
	
	

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/userReg.do</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>encodingFilter</filter-name>
		<url-pattern>/checkPenName.jsp/*</url-pattern>
	</filter-mapping>
	
	<servlet>
		<display-name>Apache-Axis Servlet</display-name>
		<servlet-name>AxisServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AxisServlet
		</servlet-class>
	</servlet>
	<servlet>
		<display-name>userPic</display-name>
		<servlet-name>userPic</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.UserPic</servlet-class>
	</servlet>
	<servlet>
		<display-name>Search</display-name>
		<servlet-name>Search</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.Search</servlet-class>
	</servlet>
	<servlet>
		<display-name>WebOSLoginServlet</display-name>
		<servlet-name>WebOSLoginServlet</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.WebOSLoginServlet</servlet-class>
	</servlet>	
	<servlet>
		<display-name>WebOSSearch</display-name>
		<servlet-name>WebOSSearch</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.WebOSSearch</servlet-class>
	</servlet>
	<servlet>
		<display-name>WebOSChangeInfo</display-name>
		<servlet-name>WebOSChangeInfo</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.WebOSChangeInfo</servlet-class>
	</servlet>
	<servlet>
		<display-name>WebOSChangePicture</display-name>
		<servlet-name>WebOSChangePicture</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.WebOSChangePicture</servlet-class>
	</servlet>	
	<servlet>
		<display-name>SetWidgetsServlet</display-name>
		<servlet-name>SetWidgetsServlet</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.SetWidgetsServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>GetWidgetsServlet</display-name>
		<servlet-name>GetWidgetsServlet</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.GetWidgetsServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>WebOSRegistServlet</display-name>
		<servlet-name>WebOSRegistServlet</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.WebOSRegistServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>WebOSComment</display-name>
		<servlet-name>WebOSComment</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.WebOSComment</servlet-class>
	</servlet>	
	<servlet>
		<display-name>RemoveStock</display-name>
		<servlet-name>RemoveStock</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.widget.RemoveStock</servlet-class>
	</servlet>
	<servlet>
		<display-name>UpdateStock</display-name>
		<servlet-name>UpdateStock</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.widget.UpdateStock</servlet-class>
	</servlet>
	<servlet>
		<display-name>Stock</display-name>
		<servlet-name>Stock</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.widget.Stock</servlet-class>
	</servlet>		
	<servlet>
		<display-name>UpdateTodo</display-name>
		<servlet-name>UpdateTodo</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.widget.UpdateTodo</servlet-class>
	</servlet>
	<servlet>
		<display-name>AddTodo</display-name>
		<servlet-name>AddTodo</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.widget.AddTodo</servlet-class>
	</servlet>		
	<servlet>
		<display-name>RemoveTodo</display-name>
		<servlet-name>RemoveTodo</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.widget.RemoveTodo</servlet-class>
	</servlet>	
	<servlet>
		<display-name>SecurityCode</display-name>
		<servlet-name>SecurityCode</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.SecurityCode</servlet-class>
	</servlet>	
	<servlet>
		<display-name>Axis Admin Servlet</display-name>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>
			org.apache.axis.transport.http.AdminServlet
		</servlet-class>
		<load-on-startup>100</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	
	
	
		
	
	
	
	<servlet>
		<description></description>
		<display-name>AddBookMark</display-name>
		<servlet-name>AddBookMark</servlet-name>
		<servlet-class>com.ngus.myweb.test.AddBookMark</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>FolderTest</display-name>
		<servlet-name>FolderTest</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.FolderTest</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>HomePageCreator</display-name>
		<servlet-name>HomePageCreator</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.HomePageCreator
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>BenchMark</display-name>
		<servlet-name>BenchMark</servlet-name>
		<servlet-class>com.ngus.myweb.test.BenchMark</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>StressTest</display-name>
		<servlet-name>StressTest</servlet-name>
		<servlet-class>com.ngus.myweb.test.StressTest</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>LoginCheck</display-name>
		<servlet-name>LoginCheck</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.LoginCheck</servlet-class>
	</servlet>
		<servlet>
		<description></description>
		<display-name>GetUserPicture</display-name>
		<servlet-name>GetUserPicture</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.GetUserPictureServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>Searchusertest</display-name>
		<servlet-name>Searchusertest</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.Searchusertest
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ValidateCode</display-name>
		<servlet-name>ValidateCode</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.ValidateCode
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>RSSServlet</display-name>
		<servlet-name>RSSServlet</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.RSSServlet</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>UserPic</display-name>
		<servlet-name>UserPic</servlet-name>
		<servlet-class>com.ngus.myweb.servlet.UserPic</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>DeleteMessage</display-name>
		<servlet-name>DeleteMessage</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.DeleteMessage
		</servlet-class>

	</servlet>
	<servlet>
		<description></description>
		<display-name>ClientVersion</display-name>
		<servlet-name>ClientVersion</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.ClientVersion
		</servlet-class>
	</servlet>
	<servlet>
		<description></description>
		<display-name>ToDoList</display-name>
		<servlet-name>ToDoList</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.widget.ToDoList
		</servlet-class>
	</servlet>	


	<servlet>
		<description></description>
		<display-name>ListMessage</display-name>
		<servlet-name>ListMessage</servlet-name>
		<servlet-class>
			com.ngus.myweb.servlet.ListMessage
		</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		download</display-name>
		<servlet-name>download</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.DownloadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ListPopByType</display-name>
		<servlet-name>ListPopByType</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.ListPopByType</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ListPic</display-name>
		<servlet-name>ListPic</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.ListPic</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		WebOSListPic</display-name>
		<servlet-name>WebOSListPic</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.WebOSListPic</servlet-class>
	</servlet>	
	<servlet>
		<description>
		</description>
		<display-name>
		LoadRss</display-name>
		<servlet-name>LoadRss</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.LoadRss</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ViewVote</display-name>
		<servlet-name>ViewVote</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.ViewVote</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		AjaxHandler</display-name>
		<servlet-name>AjaxHandler</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.AjaxHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ClipboardAjaxHandler</display-name>
		<servlet-name>ClipboardAjaxHandler</servlet-name>
		<servlet-class>
		com.ngus.app.clipboard.servlet.AjaxHandler</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		tedy</display-name>
		<servlet-name>tedy</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.tedy</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		ModelServlet</display-name>
		<servlet-name>ModelServlet</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.model.ModelServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>
		TaobaoFBServlet</display-name>
		<servlet-name>TaobaoFBServlet</servlet-name>
		<servlet-class>
		com.ngus.myweb.servlet.taobao.TaobaoFBServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/servlet/AxisServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>*.jws</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AxisServlet</servlet-name>
		<url-pattern>/services/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetWidgetsServlet</servlet-name>
		<url-pattern>/setwidgets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetWidgetsServlet</servlet-name>
		<url-pattern>/getwidgets</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Search</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSSearch</servlet-name>
		<url-pattern>/webossearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>userPic</servlet-name>
		<url-pattern>/userPic/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/servlet/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientVersion</servlet-name>
		<url-pattern>/ClientVersion</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>ModelServlet</servlet-name>
		<url-pattern>/ModelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddBookMark</servlet-name>
		<url-pattern>/AddBookMark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FolderTest</servlet-name>
		<url-pattern>/FolderTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BenchMark</servlet-name>
		<url-pattern>/BenchMark</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ToDoList</servlet-name>
		<url-pattern>/todolist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSRegistServlet</servlet-name>
		<url-pattern>/webossignup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSLoginServlet</servlet-name>
		<url-pattern>/webossignin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSChangeInfo</servlet-name>
		<url-pattern>/weboschangeinfo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSChangePicture</servlet-name>
		<url-pattern>/weboschangepic</url-pattern>
	</servlet-mapping>				
	<servlet-mapping>
		<servlet-name>StressTest</servlet-name>
		<url-pattern>/StressTest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginCheck</servlet-name>
		<url-pattern>/LoginCheck</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Searchusertest</servlet-name>
		<url-pattern>/Searchusertest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Stock</servlet-name>
		<url-pattern>/Stock</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>ValidateCode</servlet-name>
		<url-pattern>/ValidateCode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ValidateCode</servlet-name>
		<url-pattern>/webossigninsecuritycode</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SecurityCode</servlet-name>
		<url-pattern>/webossignupsecuritycode</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>GetUserPicture</servlet-name>
		<url-pattern>/getuserpicture</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RSSServlet</servlet-name>
		<url-pattern>/RSSServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>UserPic</servlet-name>
		<url-pattern>/UserPic</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>DeleteMessage</servlet-name>
		<url-pattern>/DeleteMessage/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ClientVersion</servlet-name>
		<url-pattern>/ClientVersion</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>ListMessage</servlet-name>
		<url-pattern>/ListMessage</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>download</servlet-name>
		<url-pattern>/download</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListPopByType</servlet-name>
		<url-pattern>/ListPopByType</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ListPic</servlet-name>
		<url-pattern>/ListPic</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSListPic</servlet-name>
		<url-pattern>/WebOSListPic</url-pattern>
	</servlet-mapping>	
	<servlet-mapping>
		<servlet-name>LoadRss</servlet-name>
		<url-pattern>/LoadRss</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ViewVote</servlet-name>
		<url-pattern>/ViewVote</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AjaxHandler</servlet-name>
		<url-pattern>/AjaxHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClipboardAjaxHandler</servlet-name>
		<url-pattern>/ClipboardAjaxHandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>tedy</servlet-name>
		<url-pattern>/tedy</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ModelServlet</servlet-name>
		<url-pattern>/ModelServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveStock</servlet-name>
		<url-pattern>/removestock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateStock</servlet-name>
		<url-pattern>/updatestock</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveTodo</servlet-name>
		<url-pattern>/widget/todo/deleteitem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddTodo</servlet-name>
		<url-pattern>/widget/todo/insertitem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateTodo</servlet-name>
		<url-pattern>/widget/todo/updateitem</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>WebOSComment</servlet-name>
		<url-pattern>/weboscomment</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TaobaoFBServlet</servlet-name>
		<url-pattern>/TaobaoFBServlet</url-pattern>
	</servlet-mapping>			
<!--
	<listener>
		<description>NGUS Property Initializer</description>
		<display-name>propertyInitializer</display-name>
		<listener-class>
			com.ngus.servlet.PropertyInitializer
		</listener-class>
	</listener>
	
	<listener>
		<description>NGUS Initializer</description>
		<display-name>Initializer</display-name>
		<listener-class>com.ngus.servlet.Initializer</listener-class>
	</listener>
	<listener>
		<description>NGUS UM Initializer</description>
		<display-name>UMInitializer</display-name>
		<listener-class>com.ngus.servlet.UMInitializer</listener-class>
	</listener>
	<listener>
		<description>Homepage Creator</description>
		<display-name>HomepageCreator</display-name>
		<listener-class>
			com.ngus.myweb.servlet.HomePageCreator
		</listener-class>
	</listener>
	-->
	<listener>
		<description>NGUS session listener</description>
		<display-name>SessionListener</display-name>
		<listener-class>
			com.ngus.servlet.SessionListener
		</listener-class>
	</listener>
	
	<listener>
		<description>myWeb Initializer</description>
		<display-name>myWebInitializer</display-name>
		<listener-class>
			com.ngus.myweb.servlet.MyWebInitializer
		</listener-class>
	</listener>
	<!--
	<listener>
		<description>Mail Initializer</description>
		<display-name>MailInitializer</display-name>
		<listener-class>
			com.ngus.servlet.MailInitializer
		</listener-class>
	</listener>
	-->
	<context-param>
		<param-name>ngus.initialization.file</param-name>
		<param-value>
			WEB-INF/config/${servername}/${webapp}/ngus.properties,
			WEB-INF/config/${servername}/ngus.properties,
			WEB-INF/config/${webapp}/ngus.properties,
			WEB-INF/config/default/ngus.properties,
			WEB-INF/config/ngus.properties
		</param-value>
	</context-param>
	<context-param>
		<param-name>ngus.core.memCached.server</param-name>
		<param-value>
			memcached1:11211;memcached2:11211;
		</param-value>
	</context-param>
	<!--  
		<context-param>
		<param-name>ngus.um.server</param-name>
		<param-value>umserver</param-value>
		</context-param>
		<context-param>
		<param-name>ngus.um.port</param-name>
		<param-value>17291</param-value>
		</context-param>
	-->
	<context-param>
		<param-name>ngus.log.file</param-name>
		<param-value>ngus_myWeb.log</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.host</param-name>
		<param-value>smtpserver</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.port</param-name>
		<param-value>25</param-value>
	</context-param>
	<context-param>
		<param-name>mail.smtp.username</param-name>
		<param-value />
	</context-param>
	<context-param>
		<param-name>mail.smtp.password</param-name>
		<param-value />
	</context-param>

	<welcome-file-list>
		<welcome-file>webos_desktop.jsp</welcome-file>	
		<welcome-file>webos_signin.html</welcome-file>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<resource-ref>
		<description>DB Connection</description>
		<res-ref-name>jdbc/ngus</res-ref-name>
		<res-type>javax.sql.DataSource</res-type>
		<res-auth>Container</res-auth>
	</resource-ref>
	<resource-env-ref>
		<description>Content Repository</description>
		<resource-env-ref-name>jcr/repository</resource-env-ref-name>
		<resource-env-ref-type>
			javax.jcr.Repository
		</resource-env-ref-type>
	</resource-env-ref>
	
	

	
</web-app>
